# Example assets file
# Lines starting with # are comments and will be ignored
# One ticker per line

NVDA
AAPL
MSFT
GOOG
TSLA
DIS
MRK
FMC
WBA
NEM
JNJ
HD
MRK
FMC
WBA
NEM
MTD
PNW
EBAY
INZ
LNT
APD
JNJ
DOW
TSLA
PFG
NTRS
HD
HWM
HST
STT
IFF
JKHY
DRI
ULTA
URI
EXPE
DIS
PCAR
PANW
TT
STX
BX
GPN
FANG
WDC
AIZ
VLO
CHTR
CDAY
STE

